
.bg-img1 {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.contact-content{
    display: flex;
    width: 80vw;
    column-gap: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.form{
    width: 40%;
    color: aliceblue;
}
.map{
    display: flex;
    justify-content: center;
    height: 500px;
}

@media screen and (max-width: 1000px) {
    .contact-content {
            flex-direction: column;
            row-gap: 70px;
        }
}
@media screen and (max-width: 1000px) {
    .form {
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    .map {
        width: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .bg-img1{
        height: 1300px;
    }
}