.logo{
    width: 210px;
    height: auto;
    cursor: pointer;
}

.offcanvas{
    background-color: rgba(var(--bs-dark-rgb));
    width: 300px !important;
}

.offcanvas-body{
    align-items: center !important;
}
.navbar-nav a{
color: rgba(255, 255, 255, 0.55);
}

.nav-link:hover{
    color: rgb(255, 255, 255)
}


