.logo{
    width: 210px;
    height: auto;
    cursor: pointer;
}

.offcanvas{
    background-color: rgba(var(--bs-dark-rgb));
    width: 300px !important;
}
.dropdown-menu{
    background-color: rgba(var(--bs-dark-rgb));
    border: 1px solid rgba(255, 255, 255, 0.55);
    width: 272px;
}
.dropdown-item{
    font-size: 14px !important;
}
#basic-nav-dropdown{
    color: rgba(255, 255, 255, 0.55);
}

.offcanvas-body{
    align-items: center !important;
    background: transparent !important;
   
}
.navbar-nav a{
color: rgba(255, 255, 255, 0.55);
font-size: 15px;
}

.nav-link:hover{
    color: rgb(255, 255, 255)
}

.navbar-nav .nav-link.active{
    color: #3a46c1;
    font-weight: bold;    
}
.navbar-scrolled{
    background-color:rgba(0,0,0,.9) ;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
}
.btn-close:hover{
background-color: rgba(255, 255, 255, 0.55);
}