@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,300&display=swap');

:root {
    --lightest-color: #F3F8FF;
    --darkest-color: #1d1f22;
    --light-green: #cbf7f2;
    --lightest-pink: #f6e5ee;
    --light-pink: #FFD1E3;
    --pink: #A367B1;
    --bright-pink: #E26EE5;
    --bright-purple: #7E30E1;
    --purple: #5D3587;
    --dark-purple: #49108B;
    --light-blue: #bddef6;
    --bright-blue: #3a46c1;
    --dark-blue: #200E3A;
    --yellow: #e4b547;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-page-bg {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .6);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 250px;
}

.main-title {
    width: 80%;
    color: var(--lightest-color);
    font-size: 3.5rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.sub-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: var(--lightest-color);
    font-weight: 400;
    text-align: center;
}

.btn {
    width: 170px;
    margin-top: 3rem;
    font-size: large;
    color: var(--lightest-color);
    background-color: #3a46c1;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.btn:hover {
    background-color: #4c59ed;
}

.bg-img {
    width: 100%;
    height: 1300px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.main-title2 {
    width: 80%;
    color: var(--lightest-color);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
}

.sub-title2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 75%;
    color: var(--lightest-pink);
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
    line-height: 35px;
}

.main-items {
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 70vw !important;
}

.main-item {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-item-bg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 30px;
    background-color: rgba(92, 68, 227, 0.5);
    color: var(--light-pink);
    box-shadow: 0 5px 15px 5px rgba(108, 44, 172, 0.5);
}

.icons {
    font-size: 5rem;
}

.main-item-text {
    color: var(--lightest-color);
    font-weight: 500;
    font-family: Montserrat;
    font-size: 1.1rem;
    text-align: center;
}

.main-item-bg:hover {
    background-color: rgba(92, 68, 227, 0.55);
    box-shadow: 0 5px 20px 20px rgba(108, 44, 172, 0.5);
    transition-duration: .3s;
}
.floating-whatsapp-button {
    bottom: 5rem !important;
}
.react-3d-carousel{
    height: 700px !important;
    background-color: #1d1f22;
    background-image: linear-gradient(to bottom left, rgb(0, 1, 2), rgb(5, 21, 53));
}

.react-responsive-3d-carousel__carousel{
    height: 500px !important;
    background-image: linear-gradient(to bottom left, rgb(0, 1, 2), rgb(3, 11, 29));
}
.react-responsive-3d-carousel__carousel__item{
    width: 1000px !important;
    height: 500px !important;
    background-color: rgba(0, 0, 0, .3);
}
.react-responsive-3d-carousel__status{
    display: none;
}


@media screen and (max-width: 992px) {
    .main-title {
        font-size: 3rem;
    }
    .main-page-bg{
        height: 750px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 2.5rem;
    }
    .main-page-bg{
        height: 800px;
    }
}

@media screen and (max-width: 1100px) {
    .main-page-bg{
        height: 700px;
    }
    .main-item-text {
        font-size: 1rem;
    }
}
@media screen and (max-width: 991px){
    .bg-img {
    height: 1700px;
    }
}
@media screen and (max-width: 575px) {
    .bg-img {
        height: 2800px;
    }
    .main-page-bg{
        height: 900px;
    }
}

